# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Virtual Environments

# =========================


venv/
env/
.venv/
ENV/

# =========================

# Jupyter Notebook

# =========================

.ipynb_checkpoints/

# =========================

# Environment Variables

# =========================

.env
.env.*
gemini_env/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE / Editor

# =========================

.vscode/
.idea/
*.swp
*.swo

# =========================

# Logs & Debug

# =========================

*.log

# =========================

# Dataset (Large files)

# =========================

data/

# =========================

# Model Files (Large)

# =========================


*.keras

# =========================

# TensorFlow / Keras

# =========================

checkpoints/
*.ckpt

# =========================

# Streamlit

# =========================

.streamlit/

# =========================

# Build / Distribution

# =========================

build/
dist/
*.egg-info/

# =========================

# Cache

# =========================

.cache/
*.cache

# =========================

# Temporary Files

# =========================

*.tmp
*.temp
